# Report for {{ repo_name }}
{% if not suggestions %}
We have no suggestions. Well done 😀.
{% else %}{% for suggestion in suggestions %}
## {{ suggestion.heading }}

{{ suggestion.content }}
{% endfor %}{% endif %}
